.container {
  width: 176px;
  background: #ffffff;
  box-shadow: 24px 8px 24px rgba(199, 199, 199, 0.24);
  border-radius: 8px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-self: stretch;
  justify-content: space-between;
  gap: 0.5rem;
  cursor: pointer;
  border: 2px solid transparent;
  &:hover,
  &.selected {
    border-color: #ff7f50;
  }
}

.cover {
  img {
    border-radius: 10.6834px;
    width: 100%;
  }
}

.name {
  font-size: 0.875rem;
  color: #141416;
}

.publisher {
  font-size: 0.75rem;
  color: #93989a;
}

.more-btn {
  width: fit-content;
  color: #ffffff;
}
