@import '../../bootstrap/custom';

.container {
  border-radius: 12px;
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 48px;
  border: 2px solid map-get($theme-colors, secondary);
  color: map-get($theme-colors, secondary);
  font-size: 0.875rem;
  padding-left: 1.25rem;
  cursor: pointer;
}
