.wrapper {
  height: 48px;
  background: #fafafa;
  border-radius: 1000px;
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
  color: #111111;
  gap: 1.125rem;
}

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 0.75rem;
}
