.input-container {
  background: #f7f7f7;
  border-radius: 8px;
  gap: 1rem;
  height: 54px;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  .text-input {
    all: unset;
    flex: auto;
  }
}

.emoji-wrapper {
  cursor: pointer;
}

.emoji-picker {
  top: -16px;
  left: 30px;
}
