.fav {
  position: relative;
  cursor: pointer;
  // expand clickable area
  &::before {
    content: '';
    position: absolute;
    width: 2rem;
    height: 2rem;
    top: -2px;
    left: -8px;
    cursor: pointer;
  }
}
